.config/**

!.config/.firefox
!.config/alacritty
!.config/btop
!.config/git
!.config/hypr
!.config/mpv
!.config/rip
!.config/zathura
!.config/mimeapps.list

vids/**
!vids/wp

pics/**
!pics/wp

.*history
.cache
.dots
.firefox
.floorp
.gnupg
.ljh
.local
.mono
.mozilla
.pki
.pw
.renpy
.ssh
.steam*

music
dls
docs
snd
src

Downloads
